header {
    text-align: center;
    position: sticky;
    top: 20px;
    background-color: cadetblue;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

table {
    position: relative;
    top: 40px;
    border: 2px solid;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

caption {
    text-align: center;
    border: 2px solid 
}

.description {
    padding: 200px;
}